body {
  background-color: black;
  overflow-x: hidden; /* 가로 스크롤바 제거 */
}
/* header */
.main-img {
  width: 100vw;        
  height: 700px;      
  object-fit: cover;   /* 비율 유지*/
  opacity: 0.5;        /* 투명도 0~1 */
  display: block;      /* 불필요한 여백 제거 */

  /* mask를 사용하여 이미지 아래로 갈 수록 그라데이션 */
  mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%); /* 0~20 투명, 80~100 투명 */
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
}
.logo { 
  position: absolute;         /* 위치를 고정 */
  top: 20px;                
  left: 100px;               
  color: red;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  letter-spacing: 2px; /* 글자 사이 간격 */
  text-transform: uppercase;
}
.auth-buttons{
  position: absolute;
  top: 20px;
  right: 100px;
}
.auth-buttons a {
  text-decoration: none;
}
.signIn-btn, .signUp-btn {
  padding: 5px 5px;
  margin-left: 5px;
  font-size: 1rem;
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background 0.2s;
}

.signIn-btn:hover, .signUp-btn:hover {
  background: #b00610;
}

/* section */
.main-text { 
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%); /* 가로세로 중앙 정렬 */
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 42px;
  font-weight: bold; /* 굵게 */
  letter-spacing: 2px;
}
.main-text2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 21px;
  margin-top: 50px; 
  letter-spacing: 1px;
}

.search-box {
  position: absolute;
  margin-top: 110px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bebas Neue', sans-serif;
}
.search-input {
  padding: 15px 20px;
  font-size: 1.3rem;
  background: rgba(0,0,0,0.6);
  color: white;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 4px;
  width: 400px;
}
.search-btn {
  padding: 16px 30px;
  margin-left: 5px;
  font-size: 1rem;
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background 0.2s;
}
.search-btn:hover {
  background: #b00610;
}

/* section2 */
.main-text3{
  margin-left: 100px;     
  margin-top: 60px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  color: white;
  letter-spacing: 1px;
}

.best-list {
  display: flex;
  list-style: none;
  margin-bottom: 5rem;
  padding: 0;
  gap: 40px; /* 이미지 사이 간격 */
  cursor: default;
}
.best-list li {
  position: relative; /* span 요소의 absolute positioning 기준점 */
}
.best-list a {
  cursor: default;
}
.best-list span {
  position: absolute;
  top: 7vw; /* 원하는 세로 위치로 조정 */
  left: 6px; 
  font-size: 4rem; 
  font-weight: bold;
  z-index: 1; /* 이미지가 span을 가리지 않도록 */
  color: black; 
  -webkit-text-stroke: 1px white; 
}

.best-list img {
  width: 300px;
  height: 190px;
  border-radius: 10px;
  transition: transform 0.3s;
}
.best-list img:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.slider-container {
  position: relative;
  margin-left: 100px;
  overflow: hidden;
  width: calc(100% - 100px);
  max-width: 1300px;
}
.slide-btn {
  position: absolute;
  top:40%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
  border-radius: 50%;
}
.slide-btn.left {
  left: 5px; 
}
.slide-btn.right {
  right: 5px; 
}

/* section3 */
.quick-links {
  display: flex;
  justify-content: center; /* 로고 가운데 정렬 */
  gap: 80px;
  margin-bottom: 40px;
}

.quick-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: transform 0.2s;
}

.quick-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.quick-item:hover {
  transform: scale(1.1);
  color: orange;
}

/* footer */
footer {
  width: 100vw;
  background: black;
  text-align: center;
  letter-spacing: 1px;
  text-align: left;
}
.footer-bold {
  font-weight: bold;
  font-size: small;
}
.footer-text {
  color: gainsboro;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5vw;
  text-align: center;
}
.footer-text2{
  position: relative; 
  left: 100px;
  color: gray;
  font-size: 0.7rem;
  font-weight: normal;
  left: 100px;  
}
