body {
  background-color: black;

}

.logo { 
  position: absolute;         /* 위치를 고정 */
  top: 30px;                
  left: 30px;               
  color: red;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
